# <h1 align=center> **PROYECTO INDIVIDUAL N°2 (ETL)** </h1>

In [37]:
# Convoco librerias.
import pandas as pd
import numpy as np
import locale
from babel.dates import format_date

## Cargo el archivo y los divido en dos datasets segun la solapa.

In [38]:
# Especifico el nombre de las hojas que deseas leer.
HECHOS = 'HECHOS'
VICTIMAS = 'VICTIMAS'

# Leo la primera hoja y creo el primer DataFrame.
df_siniestros_hechos = pd.read_excel(r"D:\Users\Arnaldo\Desktop\SISTEMAS\SOYHENRY\CURSO\PROYECTOS\PROYECTO INDIVIDUAL II\RECURSADO\archivos_originales\homicidios.xlsx", sheet_name=HECHOS)

# Lee la segunda hoja y creo el segundo DataFrame.
df_siniestros_victimas = pd.read_excel(r"D:\Users\Arnaldo\Desktop\SISTEMAS\SOYHENRY\CURSO\PROYECTOS\PROYECTO INDIVIDUAL II\RECURSADO\archivos_originales\homicidios.xlsx", sheet_name=VICTIMAS)

## Analizo dataset "Hechos".

In [39]:
# Determino dimensiones.
df_siniestros_hechos.shape

# Estudio el detalle de los campos.
df_siniestros_hechos.info()

# Veo el 'Head'
df_siniestros_hechos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

### Busco y normalizo nulos.

In [40]:
df_siniestros_hechos.replace('sd', np.nan, inplace=True)
nulos1 = df_siniestros_hechos.isna().sum()
nulos1

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

### Busco y elimino datos duplicados.

In [41]:
registros_duplicados = df_siniestros_hechos[df_siniestros_hechos.duplicated()]
registros_duplicados

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Altura, Cruce, Dirección Normalizada, COMUNA, XY (CABA), pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

[0 rows x 21 columns]

### Inicio transformacion de datos.

In [42]:
df_siniestros_hechos = df_siniestros_hechos.rename(columns=str.lower)
df_siniestros_hechos = df_siniestros_hechos.applymap(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\Arnaldo\AppData\Local\Temp\ipykernel_1824\1674689476.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_siniestros_hechos = df_siniestros_hechos.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [43]:
# Modifico nombres de columnas "pos x" y "pos y".
df_siniestros_hechos.rename(columns={'pos x': 'longitud', 'pos y': 'latitud'}, inplace=True)

# Convierto las columnas "pos_x" y "pos_y" a tipo de dato float.
df_siniestros_hechos['longitud'] = pd.to_numeric(df_siniestros_hechos['longitud'], errors='coerce').astype(float)
df_siniestros_hechos['latitud'] = pd.to_numeric(df_siniestros_hechos['latitud'], errors='coerce').astype(float)

# Convierto valores nulos a NaN.
df_siniestros_hechos['longitud'] = df_siniestros_hechos['longitud'].replace('.', np.nan)
df_siniestros_hechos['latitud'] = df_siniestros_hechos['latitud'].replace('.', np.nan)

In [47]:
# Convierto la columna 'hh' a números, manejar errores y convertir no numéricos a NaN.
df_siniestros_hechos['hh'] = pd.to_numeric(df_siniestros_hechos['hh'], errors='coerce')

# Convierto a 'float64' para admitir NaN.
df_siniestros_hechos['hh'] = df_siniestros_hechos['hh'].astype('float64')

# Convierto a 'Int64' para preservar NaN y tratar los demás valores como enteros.
df_siniestros_hechos['hh'] = df_siniestros_hechos['hh'].astype('Int64')

In [45]:
# A fin de facilitar el analisis exploratorio y visualizaciones categorizo las siguientes columnas:

columnas_a_categorizar = ['hh', 'tipo_de_calle', 'comuna', 'victima', 'acusado']

for column in columnas_a_categorizar:
    df_siniestros_hechos[column] = pd.Categorical(df_siniestros_hechos[column])

In [46]:
# Establezco el locale en español.
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# COnvierto la columna 'fecha' en tipo datetime.
df_siniestros_hechos['fecha'] = pd.to_datetime(df_siniestros_hechos['fecha'])

# Creo una nueva columna 'dia_semana' con los nombres de los días de la semana en español.
df_siniestros_hechos['dia_semana'] = df_siniestros_hechos['fecha'].apply(lambda x: x.strftime('%A'))

# Muestro el DataFrame con la nueva columna.
df_siniestros_hechos.head(15)

,id,n_victimas,fecha,aaaa,mm,dd,hora,hh,lugar_del_hecho,tipo_de_calle,...,cruce,dirección normalizada,comuna,xy (caba),longitud,latitud,participantes,victima,acusado,dia_semana
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,av piedra buena y av fernandez de la cruz,avenida,...,"fernandez de la cruz, f., gral. av.","piedra buena av. y fernandez de la cruz, f., g...",8,point (98896.78238426 93532.43437792),-58.475340,-34.687570,moto-auto,moto,auto,viernes
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,av gral paz y av de los corrales,gral paz,...,de los corrales av.,"paz, gral. av. y de los corrales av.",9,point (95832.05571093 95505.41641999),-58.508775,-34.669777,auto-pasajeros,auto,pasajeros,sÃ¡bado
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,av entre rios 2034,avenida,...,NaN,entre rios av. 2034,1,point (106684.29090040 99706.57687843),-58.390403,-34.631894,moto-auto,moto,auto,domingo
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,av larrazabal y gral villegas conrado,avenida,...,"villegas, conrado, gral.","larrazabal av. y villegas, conrado, gral.",8,point (99840.65224780 94269.16534422),-58.465039,-34.680930,moto-sd,moto,sd,domingo
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,av san juan y presidente luis saenz peña,avenida,...,"saenz pe?a, luis, pres.","san juan av. y saenz peã‘a, luis, pres.",1,point (106980.32827929 100752.16915795),-58.387183,-34.622466,moto-pasajeros,moto,pasajeros,jueves
5,2016-0008,1,2016-01-24,2016,1,24,18:30:00,18,av 27 de febrero y av escalada,avenida,...,escalada av.,27 de febrero av. y escalada av.,8,point (101721.59002217 93844.25656649),-58.444513,-34.684759,moto-objeto fijo,moto,objeto fijo,domingo
6,2016-0009,1,2016-01-24,2016,1,24,19:10:00,19,nogoya y joaquin v. gonzales,calle,...,"gonzalez, joaquin v.","nogoya y gonzalez, joaquin v.",11,point (96545.87592078 102330.67262199),-58.500959,-34.608254,moto-auto,moto,auto,domingo
7,2016-0010,1,2016-01-29,2016,1,29,15:20:00,15,av general paz y av de los corrales,gral paz,...,de los corrales av.,"paz, gral. av. y de los corrales av.",9,point (95832.05571093 95505.41641999),-58.508775,-34.669777,moto-auto,moto,auto,viernes
8,2016-0012,1,2016-02-08,2016,2,8,01:20:00,1,av belgrano y bernardo de irigoyen,avenida,...,"irigoyen, bernardo de","belgrano av. e irigoyen, bernardo de",1,point (107595.35084333 101797.50052813),-58.380486,-34.613039,moto-cargas,moto,cargas,lunes
9,2016-0013,1,2016-02-10,2016,2,10,11:30:00,11,av entre rios 1366,avenida,...,NaN,entre rios av. 1366,1,point (106616.41069662 100496.44662323),-58.391149,-34.624774,peaton-auto,peaton,auto,miÃ©rcoles
10,2016-0015,1,2016-02-14,2016,2,14,05:14:00,5,av scalabrini ortiz y vera,avenida,...,vera,"scalabrini ortiz, raul av. y vera",15,point (102357.43746828 103343.52002839),-58.437600,-34.599128,peaton-auto,peaton,auto,domingo
11,2016-0016,1,2016-02-14,2016,2,14,22:00:00,22,av regimiento de patricios y quinquela martin ...,avenida,...,"quinquela martin, benito",regimiento de patricios av. y quinquela martin...,4,point (108661.59115206 98481.75445555),-58.368827,-34.642920,moto-auto,moto,auto,domingo
12,2016-0017,1,2016-02-15,2016,2,15,16:54:00,16,mariano acosta y ana maria janer,avenida,...,"janer, ana maria","acosta, mariano y janer, ana maria",8,point (101228.61094416 96623.72136186),-58.449897,-34.659704,peaton-moto,peaton,moto,lunes
13,2016-0019,1,2016-02-17,2016,2,17,09:30:00,9,lisandro de la torre y severo garcia grande de...,calle,...,"garcia grande de zequeira, severo","de la torre, lisandro y garcia grande de zeque...",9,point (95727.37083199 97179.35560349),-58.509909,-34.654687,peaton-pasajeros,peaton,pasajeros,miÃ©rcoles
14,2016-0020,1,2016-02-17,2016,2,17,16:00:00,16,suipacha 156,calle,...,NaN,suipacha 156,1,point (107684.31807562 102519.17333314),-58.379522,-34.606533,peaton-auto,peaton,auto,miÃ©rcoles

In [32]:
# Asegurarse de que la columna 'fecha' es de tipo datetime
df_siniestros_hechos['fecha'] = pd.to_datetime(df_siniestros_hechos['fecha'])

# Creo una nueva columna 'dia_semana' con los nombres de los días de la semana en español.
df_siniestros_hechos['dia_semana'] = df_siniestros_hechos['fecha'].apply(lambda x: format_date(x, 'EEEE', locale='es_ES'))

# Mostrar el DataFrame con la nueva columna.
df_siniestros_hechos

       fecha dia_semana
0 2023-01-01    domingo
1 2023-01-02      lunes
2 2023-01-03     martes
3 2023-01-04  miércoles
4 2023-01-05     jueves
5 2023-01-06    viernes
6 2023-01-07     sábado
7 2023-01-08    domingo
8 2023-01-09      lunes
9 2023-01-10     martes

#####  Procedo a eliminar columnas que no hacen al analisis.

In [13]:
# Elimino: 'AAAA', 'MM', 'DD', 'HORA', 'LUGAR_DEL_HECHO', 'Calle', 'Altura','Cruce', 'XY (CABA)', 'PARTICIPANTES', 'Dirección Normalizada'.

columnas_eliminar = ['aaaa', 'mm', 'dd', 'hora', 'lugar_del_hecho', 'calle', 'altura','cruce', 'xy (caba)', 'participantes']
df_siniestros_hechos.drop(columnas_eliminar,axis=1,inplace=True)

In [14]:
df_siniestros_hechos

,id,n_victimas,fecha,hh,tipo_de_calle,dirección normalizada,comuna,longitud,latitud,victima,acusado,dia_semana
0,2016-0001,1,2016-01-01,4,avenida,"piedra buena av. y fernandez de la cruz, f., g...",8,-58.475340,-34.687570,moto,auto,viernes
1,2016-0002,1,2016-01-02,1,gral paz,"paz, gral. av. y de los corrales av.",9,-58.508775,-34.669777,auto,pasajeros,sábado
2,2016-0003,1,2016-01-03,7,avenida,entre rios av. 2034,1,-58.390403,-34.631894,moto,auto,domingo
3,2016-0004,1,2016-01-10,0,avenida,"larrazabal av. y villegas, conrado, gral.",8,-58.465039,-34.680930,moto,sd,domingo
4,2016-0005,1,2016-01-21,5,avenida,"san juan av. y saenz peã‘a, luis, pres.",1,-58.387183,-34.622466,moto,pasajeros,jueves
...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,17,avenida,riestra av. y mom,7,-58.433538,-34.645616,moto,auto,lunes
692,2021-0094,1,2021-12-20,1,autopista,"dellepiane, luis, tte. gral. y lacarra av.",9,-58.467398,-34.651178,moto,auto,lunes
693,2021-0095,1,2021-12-30,0,avenida,gaona av. y terrada,11,-58.472934,-34.619847,moto,cargas,jueves
694,2021-0096,1,2021-12-15,10,avenida,"peron, eva av. 4071",9,-58.470668,-34.650217,auto,cargas,miércoles
695,2021-0097,1,2021-11-18,6,calle,padre carlos mugica 709,1,-58.379762,-34.586796,bicicleta,auto,jueves

In [31]:
# Establezco el locale en español.
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')  # Puede ser necesario ajustar según tu sistema operativo

df_siniestros_hechos = pd.DataFrame({
    'fecha': pd.date_range(start='2023-01-01', periods=10, freq='D')
})

# Asegurarse de que la columna 'fecha' es de tipo datetime
df_siniestros_hechos['fecha'] = pd.to_datetime(df_siniestros_hechos['fecha'])

# Crear una nueva columna 'dia_semana' con los nombres de los días de la semana en español
df_siniestros_hechos['dia_semana'] = df_siniestros_hechos['fecha'].dt.strftime('%A')

# Mostrar el DataFrame con la nueva columna
print(df_siniestros_hechos)

       fecha  dia_semana
0 2023-01-01     domingo
1 2023-01-02       lunes
2 2023-01-03      martes
3 2023-01-04  miÃ©rcoles
4 2023-01-05      jueves
5 2023-01-06     viernes
6 2023-01-07     sÃ¡bado
7 2023-01-08     domingo
8 2023-01-09       lunes
9 2023-01-10      martes

##### Reemplazo "GRAL PAZ" por autopista.

In [ ]:
df_siniestros_hechos['tipo_de_calle'] = df_siniestros_hechos['tipo_de_calle'].replace('gral paz', 'autopista')

##### Procedo a guardar el dataset finalizado como archivo "csv".

In [17]:
df_siniestros_hechos.to_csv(r"D:\Users\Arnaldo\Desktop\SISTEMAS\SOYHENRY\CURSO\PROYECTOS\PROYECTO INDIVIDUAL II\RECURSADO\DATAFRAMES\df_siniestros_hechos.csv", index=False)

## Analizo dataset "Victimas".

In [18]:
# Determino dimensiones.

df_siniestros_victimas.shape

# Estudio el detalle de los campos.

df_siniestros_victimas.info()

# Mapeo el 'Head'

df_siniestros_victimas.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

### Busco y standarizo nulos.

In [19]:
df_siniestros_victimas.replace('sd', np.nan, inplace=True)
nulos1 = df_siniestros_victimas.isna().sum()
nulos1

ID_hecho               0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

### Busco y elimino datos duplicados.

In [20]:
# Remplazo 'SD' por NaN en todo el DataFrame.
registros_duplicados = df_siniestros_victimas[df_siniestros_victimas.duplicated()]
df_siniestros_victimas.replace(['SD','sd'], np.nan, inplace=True)

registros_duplicados

Empty DataFrame
Columns: [ID_hecho, FECHA, AAAA, MM, DD, ROL, VICTIMA, SEXO, EDAD, FECHA_FALLECIMIENTO]
Index: []

### Inicio transformacion de datos.

In [21]:
# Renombro columna ID_hecho.
df_siniestros_victimas = df_siniestros_victimas.rename(columns={'ID_hecho': 'ID'})

In [ ]:
# Llevo a minusculas las columnas y los datos.
df_siniestros_victimas = df_siniestros_victimas.rename(columns=str.lower)
df_siniestros_victimas = df_siniestros_victimas.applymap(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\Arnaldo\AppData\Local\Temp\ipykernel_14948\1961666507.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_siniestros_victimas = df_siniestros_victimas.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [23]:
# Convierto la columna 'EDAD' a float y despues a int para preservar Nan.
df_siniestros_victimas['EDAD'] = pd.to_numeric(df_siniestros_victimas['EDAD'], errors='coerce')

# Convierto a 'float64' para admitir NaN.
df_siniestros_victimas['EDAD'] = df_siniestros_victimas['EDAD'].astype('float64')

# Convierto a 'Int64' para preservar NaN y tratar los demás valores como enteros.
df_siniestros_victimas['EDAD'] = df_siniestros_victimas['EDAD'].astype('Int64')

In [26]:
# Lista de columnas que se van a categorizar. 
columns_to_categorize = ['ROL', 'SEXO']

for column in columns_to_categorize:
    df_siniestros_victimas[column] = pd.Categorical(df_siniestros_victimas[column])

####  Procedo a eliminar columnas que no hacen al analisis.

In [28]:
# Elimino: 'AAAA', 'MM', 'DD'.

columnas_eliminar = ['AAAA', 'MM', 'DD']

df_siniestros_victimas.drop(columnas_eliminar,axis=1,inplace=True)

In [29]:
df_siniestros_victimas

,ID,FECHA,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,CONDUCTOR,MOTO,MASCULINO,18,NaN
4,2016-0005,2016-01-21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [30]:
#Procedo a guardar el dataset finalizado como archivo "csv".
df_siniestros_victimas.to_csv(r"D:\Users\Arnaldo\Desktop\SISTEMAS\SOYHENRY\CURSO\PROYECTOS\PROYECTO INDIVIDUAL II\RECURSADO\DATAFRAMES\df_siniestros_victimas.csv", index=False)